body {
  background: #F8F8FF;
  color: #646681;
}

.heading {
  text-align: center;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.topWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-addTask {
  background: #6370F0;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.input-select {
  background: #CCCDDF;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.todoListWrapper {
  background-color: #ECEDF6;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 10px;
}

.checkbox {
  padding: 5px;
  border-radius: 5px;
  background: #ECEDF6;
  border: none;
  width: 20px;
}

.checkbox:checked~strong {
  text-decoration: line-through;
}

.text-muted {
  font-size: 10px;
}

ul {
  list-style: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
  padding: 0 10px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
}

.d-flex {
  display: flex;
  align-items: center;
}

.ms-3 {
  margin-inline-start: 10px;
  padding: 10px;
  background: #ECEDF6;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}